In [0]:
# 필요 패키지 설치해주기
import pandas as pd
import numpy as np

In [0]:
# 파일 불러오기
df = pd.read_csv('mushrooms.csv')

In [3]:
# 데이터 확인하기 => 결측치 없는 것 같음. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
class                       8124 non-null object
cap-shape                   8124 non-null object
cap-surface                 8124 non-null object
cap-color                   8124 non-null object
bruises                     8124 non-null object
odor                        8124 non-null object
gill-attachment             8124 non-null object
gill-spacing                8124 non-null object
gill-size                   8124 non-null object
gill-color                  8124 non-null object
stalk-shape                 8124 non-null object
stalk-root                  8124 non-null object
stalk-surface-above-ring    8124 non-null object
stalk-surface-below-ring    8124 non-null object
stalk-color-above-ring      8124 non-null object
stalk-color-below-ring      8124 non-null object
veil-type                   8124 non-null object
veil-color                  8124 non-null object
ring-number                 8124 non-null object
ring-type                   8124 non-null object
spore-print-color           8124 non-null object
population                  8124 non-null object
habitat                     8124 non-null object
dtypes: object(23)
memory usage: 1.4+ MB

In [23]:
# 혹시 모르니 다시 결측치 처리
df.isnull().sum()

class                       0
cap-shape                   0
cap-surface                 0
cap-color                   0
bruises                     0
odor                        0
gill-attachment             0
gill-spacing                0
gill-size                   0
gill-color                  0
stalk-shape                 0
stalk-root                  0
stalk-surface-above-ring    0
stalk-surface-below-ring    0
stalk-color-above-ring      0
stalk-color-below-ring      0
veil-type                   0
veil-color                  0
ring-number                 0
ring-type                   0
spore-print-color           0
population                  0
habitat                     0
dtype: int64

In [5]:
# 테이블로 한 번 보기
df.describe()

       class cap-shape cap-surface  ... spore-print-color population habitat
count   8124      8124        8124  ...              8124       8124    8124
unique     2         6           4  ...                 9          6       7
top        e         x           y  ...                 w          v       d
freq    4208      3656        3244  ...              2388       4040    3148

[4 rows x 23 columns]

In [6]:
df.head()
#아래 다 lable encoding으로 바꿔줘야겠다^^

  class cap-shape cap-surface  ... spore-print-color population habitat
0     p         x           s  ...                 k          s       u
1     e         x           s  ...                 n          n       g
2     e         b           s  ...                 n          n       m
3     p         x           y  ...                 k          s       u
4     e         x           s  ...                 n          a       g

[5 rows x 23 columns]

In [8]:
# columns 몇개인지 한 번 확인해보기
df.columns, len(df.columns)

(Index(['class', 'cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
        'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
        'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
        'stalk-surface-below-ring', 'stalk-color-above-ring',
        'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
        'ring-type', 'spore-print-color', 'population', 'habitat'],
       dtype='object'), 23)

In [15]:
list(df)

['class',
 'cap-shape',
 'cap-surface',
 'cap-color',
 'bruises',
 'odor',
 'gill-attachment',
 'gill-spacing',
 'gill-size',
 'gill-color',
 'stalk-shape',
 'stalk-root',
 'stalk-surface-above-ring',
 'stalk-surface-below-ring',
 'stalk-color-above-ring',
 'stalk-color-below-ring',
 'veil-type',
 'veil-color',
 'ring-number',
 'ring-type',
 'spore-print-color',
 'population',
 'habitat']

In [14]:
# columns에 어떤 데이터가 있는지 확인해 보쟈
for i in list(df):
  print(i, df[i].unique())

class ['p' 'e']
cap-shape ['x' 'b' 's' 'f' 'k' 'c']
cap-surface ['s' 'y' 'f' 'g']
cap-color ['n' 'y' 'w' 'g' 'e' 'p' 'b' 'u' 'c' 'r']
bruises ['t' 'f']
odor ['p' 'a' 'l' 'n' 'f' 'c' 'y' 's' 'm']
gill-attachment ['f' 'a']
gill-spacing ['c' 'w']
gill-size ['n' 'b']
gill-color ['k' 'n' 'g' 'p' 'w' 'h' 'u' 'e' 'b' 'r' 'y' 'o']
stalk-shape ['e' 't']
stalk-root ['e' 'c' 'b' 'r' '?']
stalk-surface-above-ring ['s' 'f' 'k' 'y']
stalk-surface-below-ring ['s' 'f' 'y' 'k']
stalk-color-above-ring ['w' 'g' 'p' 'n' 'b' 'e' 'o' 'c' 'y']
stalk-color-below-ring ['w' 'p' 'g' 'b' 'n' 'e' 'y' 'o' 'c']
veil-type ['p']
veil-color ['w' 'n' 'o' 'y']
ring-number ['o' 't' 'n']
ring-type ['p' 'e' 'l' 'f' 'n']
spore-print-color ['k' 'n' 'u' 'h' 'w' 'r' 'o' 'y' 'b']
population ['s' 'n' 'a' 'v' 'y' 'c']
habitat ['u' 'g' 'm' 'd' 'p' 'w' 'l']

In [0]:
# class 예측하는 모델 만드는 거니까 KNN Classifier 쓸거임....

In [0]:
#data, target로 데이터 나누어 주어야 겠다 (target는 class, data는 그 행 제외 모두 다!)
data = df.iloc[:, 1:]
target = df.iloc[:, 0]

In [18]:
list(data)

['cap-shape',
 'cap-surface',
 'cap-color',
 'bruises',
 'odor',
 'gill-attachment',
 'gill-spacing',
 'gill-size',
 'gill-color',
 'stalk-shape',
 'stalk-root',
 'stalk-surface-above-ring',
 'stalk-surface-below-ring',
 'stalk-color-above-ring',
 'stalk-color-below-ring',
 'veil-type',
 'veil-color',
 'ring-number',
 'ring-type',
 'spore-print-color',
 'population',
 'habitat']

In [22]:
target.head()

0    p
1    e
2    e
3    p
4    e
Name: class, dtype: object

In [0]:
# label encoding 패키지 불러오기
from sklearn.preprocessing import LabelEncoder

In [0]:
# for 문 써서 label encoding 돌려주자 
# 우선 target 부터 
en_target = LabelEncoder()
target = en_target.fit_transform(target)

In [39]:
target

array([1, 0, 0, ..., 0, 1, 0])

In [40]:
# data를 구해보자
en_data = LabelEncoder()
for i in data.columns:
  data[i] = en_data.fit_transform(data[i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [44]:
data.head()

   cap-shape  cap-surface  cap-color  ...  spore-print-color  population  habitat
0          5            2          4  ...                  2           3        5
1          5            2          9  ...                  3           2        1
2          0            2          8  ...                  3           2        3
3          5            3          8  ...                  2           3        5
4          5            2          3  ...                  3           0        1

[5 rows x 22 columns]

In [45]:
for i in list(data):
  print(i, data[i].unique())

cap-shape [5 0 4 2 3 1]
cap-surface [2 3 0 1]
cap-color [4 9 8 3 2 5 0 7 1 6]
bruises [1 0]
odor [6 0 3 5 2 1 8 7 4]
gill-attachment [1 0]
gill-spacing [0 1]
gill-size [1 0]
gill-color [ 4  5  2  7 10  3  9  1  0  8 11  6]
stalk-shape [0 1]
stalk-root [3 2 1 4 0]
stalk-surface-above-ring [2 0 1 3]
stalk-surface-below-ring [2 0 3 1]
stalk-color-above-ring [7 3 6 4 0 2 5 1 8]
stalk-color-below-ring [7 6 3 0 4 2 8 5 1]
veil-type [0]
veil-color [2 0 1 3]
ring-number [1 2 0]
ring-type [4 0 2 1 3]
spore-print-color [2 3 6 1 7 5 4 8 0]
population [3 2 0 4 5 1]
habitat [5 1 3 0 4 6 2]

In [0]:
# KNN으로 분석 시작하기.

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [0]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 0.25, random_state=0)

In [0]:
# 모델 생성하기
model = KNeighborsClassifier(n_neighbors =3)

In [50]:
# 트레이닝 시키기
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [52]:
# 예측하기
pred = model.predict(X_test)
pred

array([1, 0, 0, ..., 1, 0, 0])

In [53]:
df = pd.DataFrame({'y_test': y_test, 'prediction': pred})
df

      y_test  prediction
0          1           1
1          0           0
2          0           0
3          0           0
4          0           0
5          0           0
6          1           1
7          1           1
8          0           0
9          1           1
10         0           0
11         0           0
12         0           0
13         0           0
14         0           0
15         1           1
16         0           0
17         1           1
18         0           0
19         0           0
20         1           1
21         1           1
22         1           1
23         1           1
24         1           1
25         1           1
26         1           1
27         0           0
28         0           0
29         1           1
...      ...         ...
2001       1           1
2002       0           0
2003       0           0
2004       0           0
2005       0           0
2006       0           0
2007       1           1
2008       1           1
2009       1           1
2010       0           0
2011       1           1
2012       0           0
2013       1           1
2014       1           1
2015       1           1
2016       0           0
2017       0           0
2018       0           0
2019       1           1
2020       1           1
2021       0           0
2022       0           0
2023       1           1
2024       1           1
2025       1           1
2026       0           0
2027       1           1
2028       1           1
2029       0           0
2030       0           0

[2031 rows x 2 columns]

In [54]:
#얼마나 맞추었나 accuracy 추측하기
(pred == y_test).sum()/len(pred)

0.9980305268340719

In [55]:
acc_tr = model.score(X_train, y_train)
acc_test = model.score(X_test, y_test)
print('훈련 셋의 정확도 : {:.2f}'.format(acc_tr))
print('테스트 셋의 정확도 : {:.2f}'.format(acc_test))

훈련 셋의 정확도 : 1.00
테스트 셋의 정확도 : 1.00

In [56]:
# for문을 돌려보쟈

training_accuracy = []
test_accuracy = []
k_num = range(1,51)

for n in k_num:
    model = KNeighborsClassifier(n_neighbors=n)
    model.fit(X_train, y_train)
    
    acc_tr = model.score(X_train, y_train)
    acc_test = model.score(X_test, y_test)
    
    training_accuracy.append(acc_tr)
    test_accuracy.append(acc_test)
    
    print("K: {}, tr_acc : {:.2f}, test_acc : {:.2f}".format(n, acc_tr, acc_test))

K: 1, tr_acc : 1.00, test_acc : 1.00
K: 2, tr_acc : 1.00, test_acc : 1.00
K: 3, tr_acc : 1.00, test_acc : 1.00
K: 4, tr_acc : 1.00, test_acc : 1.00
K: 5, tr_acc : 1.00, test_acc : 1.00
K: 6, tr_acc : 1.00, test_acc : 1.00
K: 7, tr_acc : 1.00, test_acc : 1.00
K: 8, tr_acc : 1.00, test_acc : 1.00
K: 9, tr_acc : 1.00, test_acc : 1.00
K: 10, tr_acc : 1.00, test_acc : 1.00
K: 11, tr_acc : 1.00, test_acc : 1.00
K: 12, tr_acc : 1.00, test_acc : 0.99
K: 13, tr_acc : 1.00, test_acc : 0.99
K: 14, tr_acc : 1.00, test_acc : 0.99
K: 15, tr_acc : 1.00, test_acc : 0.99
K: 16, tr_acc : 0.99, test_acc : 0.99
K: 17, tr_acc : 0.99, test_acc : 0.99
K: 18, tr_acc : 0.99, test_acc : 0.99
K: 19, tr_acc : 0.99, test_acc : 0.99
K: 20, tr_acc : 0.99, test_acc : 0.99
K: 21, tr_acc : 0.99, test_acc : 0.99
K: 22, tr_acc : 0.99, test_acc : 0.99
K: 23, tr_acc : 0.99, test_acc : 0.99
K: 24, tr_acc : 0.99, test_acc : 0.99
K: 25, tr_acc : 0.99, test_acc : 0.99
K: 26, tr_acc : 0.99, test_acc : 0.98
K: 27, tr_acc : 0.99, test_acc : 0.98
K: 28, tr_acc : 0.99, test_acc : 0.98
K: 29, tr_acc : 0.99, test_acc : 0.98
K: 30, tr_acc : 0.99, test_acc : 0.98
K: 31, tr_acc : 0.99, test_acc : 0.98
K: 32, tr_acc : 0.98, test_acc : 0.98
K: 33, tr_acc : 0.98, test_acc : 0.98
K: 34, tr_acc : 0.98, test_acc : 0.98
K: 35, tr_acc : 0.98, test_acc : 0.98
K: 36, tr_acc : 0.98, test_acc : 0.98
K: 37, tr_acc : 0.98, test_acc : 0.98
K: 38, tr_acc : 0.98, test_acc : 0.98
K: 39, tr_acc : 0.98, test_acc : 0.98
K: 40, tr_acc : 0.98, test_acc : 0.98
K: 41, tr_acc : 0.98, test_acc : 0.98
K: 42, tr_acc : 0.98, test_acc : 0.98
K: 43, tr_acc : 0.98, test_acc : 0.97
K: 44, tr_acc : 0.98, test_acc : 0.97
K: 45, tr_acc : 0.98, test_acc : 0.97
K: 46, tr_acc : 0.98, test_acc : 0.97
K: 47, tr_acc : 0.98, test_acc : 0.97
K: 48, tr_acc : 0.98, test_acc : 0.97
K: 49, tr_acc : 0.98, test_acc : 0.97
K: 50, tr_acc : 0.98, test_acc : 0.97

In [0]:
# 이거 ACCURACY 이상하다........