In [0]:
import pandas as pd
import numpy as np

In [0]:
# 데이터 불러오기
df = pd.read_csv('bike_train.csv')

In [3]:
# 데이터를 확인해 봅시다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB

In [4]:
df.shape

(10886, 12)

In [5]:
df.describe()

             season       holiday  ...    registered         count
count  10886.000000  10886.000000  ...  10886.000000  10886.000000
mean       2.506614      0.028569  ...    155.552177    191.574132
std        1.116174      0.166599  ...    151.039033    181.144454
min        1.000000      0.000000  ...      0.000000      1.000000
25%        2.000000      0.000000  ...     36.000000     42.000000
50%        3.000000      0.000000  ...    118.000000    145.000000
75%        4.000000      0.000000  ...    222.000000    284.000000
max        4.000000      1.000000  ...    886.000000    977.000000

[8 rows x 11 columns]

In [6]:
df.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [0]:
# 데이터 컬럼 나누기
# data에는 예측하고자 하는 'count'는 제외 -> 이건 target으로 설정 
# 'casual' & 'register' is too dependent in regards go count(likely to show overfitting ) -> gonna omit those two coloumns 
# 'datetime' should be omitted -> probably gonna cause error due to its form/type (datatime object여서 일단 제외)

In [0]:
#drop 시작!
data = df.drop(['count', 'datetime', 'registered'], axis =1)

In [0]:
# count를 target으로 설정해주기!
target = df['count']

In [0]:
#data/ target으로 나누어주었음! (Iris likewise)

In [0]:
#필요한 모듈들 불러오기
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [0]:
# train/test data 나누어주기
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 0.75, random_state=100)
#연속형 변수라 stratify 사용 안한다.

In [0]:
# 모델 만들기
model = LinearRegression().fit(X_train, y_train)

In [58]:
# 만들어진 모델로 예측하기
pred = model.predict(X_test)
pred

array([318.94504347, 222.62025644, 272.00318822, ..., 333.52800018,
       465.16976089, 413.15184953])

In [59]:
pred.shape

(8165,)

In [0]:
# 데이터프레임으로 한 번 만들어 볼까?
new_data = pd.DataFrame({'y_test':y_test, 'prediction': pred, 'difference': y_test - pred})

In [61]:
new_data

       y_test  prediction  difference
7810      513  318.945043  194.054957
1366      148  222.620256  -74.620256
2494      275  272.003188    2.996812
3555       24  172.921055 -148.921055
771        82  169.652914  -87.652914
8511       43  158.237329 -115.237329
5865      119  151.416952  -32.416952
7819       10  108.273666  -98.273666
8176       17  155.039637 -138.039637
9569        9  125.693068 -116.693068
1287      195  318.147519 -123.147519
2059      594  274.426981  319.573019
6391      339  249.837047   89.162953
9044       11   39.181828  -28.181828
573         5   83.602695  -78.602695
4032       10  135.284991 -125.284991
9600      359  243.102565  115.897435
7753      404  381.199648   22.800352
8487      187  125.269318   61.730682
9275      356  306.497729   49.502271
7887      206  170.762221   35.237779
2359       31  114.448395  -83.448395
732        51   49.025000    1.975000
2318      420  445.429838  -25.429838
6567      110   61.359492   48.640508
3556        6  144.736185 -138.736185
1415      173  280.299197 -107.299197
4531      127  162.843290  -35.843290
2765       26   72.806704  -46.806704
8096      593  650.665181  -57.665181
...       ...         ...         ...
8565      162  160.601365    1.398635
3807      188  200.279071  -12.279071
1525      133  112.324108   20.675892
3143      241  256.137513  -15.137513
7795        5  112.265452 -107.265452
3632       76  127.193581  -51.193581
5605      314  183.377206  130.622794
2584      178  270.860883  -92.860883
3072      201  217.224496  -16.224496
6073      267  105.856972  161.143028
9432      296  224.123719   71.876281
6655      224  306.070629  -82.070629
2076      130  186.643694  -56.643694
7717       23  104.231583  -81.231583
8532      328  257.061596   70.938404
2225      188  276.054792  -88.054792
9248      171  165.769133    5.230867
4553      282  206.514545   75.485455
7883      408  455.385271  -47.385271
4524      150  254.037229 -104.037229
10751     343  170.661170  172.338830
6618       16  115.439691  -99.439691
7928      521  538.207711  -17.207711
6494      260  163.791780   96.208220
7244       17  109.605425  -92.605425
406        33   73.134495  -40.134495
2625      250  161.843464   88.156536
2125      322  333.528000  -11.528000
9297      968  465.169761  502.830239
2656      334  413.151850  -79.151850

[8165 rows x 3 columns]

In [62]:
# MAE 만들쟈 (Mean Absolute Error/ 평균절대값오차)
sum(abs(new_data['difference']))/len(new_data['difference'])

85.82288219295003

In [63]:
# MSE (Mean Square Error/평균제곱오차)

MSE = sum((new_data['difference']**2))/len(new_data['difference'])
MSE

14475.32964724777

In [64]:
# RMSE (Root Mean Square Error/ 평균제곱근오차)
RMSE = np.sqrt(MSE)
RMSE

120.31346411456937

In [65]:
# 훈련 데이터셋 및 테스트 데이터셋 점수 확인

print('훈련 데이터 셋 점수 : {:.2f}'.format(model.score(X_train, y_train)))
print('테스트 데이터 셋 점수 : {:.2f}'.format(model.score(X_test, y_test)))

훈련 데이터 셋 점수 : 0.55
테스트 데이터 셋 점수 : 0.55

In [0]:
# 예측률개구림